


@mixin active {
  background-color: #00897b;
  border: none;

}
@mixin active_link {
  color: #00897b;
}

* {
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    padding: 0;
  }

.container{
    padding: 0 10%;
  }
.title {
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 1.5px;
  }
.subtitle {
    color: #212121;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.75px;
  }
.head {
  height: 50px;
  padding-top: 20px;
  &_wrap {
    display: flex;
    justify-content: space-between;/* 
    align-items: baseline; */
  }
  & img {
    display: block;
    height: 25px;
    cursor: pointer;
    
  }
  &_menu {
    display: flex;
    list-style-type: none;
    &_item {
      a {
        text-decoration: none;
        color: inherit;
      }
      padding-right: 50px;
      cursor: pointer;
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        @include active_link;
      }
    }
  }
}

.top {
  height: 650px;
  background: url('../img/top_bg.jpg') center (center / cover) no-repeat;
  h1 {
    padding-top: 180px;
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 3px;
  }
  h2 {
    padding-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
  }
  &_btn {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    &_1 {
      border: 2px solid #f8f8f8;
      border-radius: 8px;
      padding: 4px 8px;
      margin-right: 150px;
      &:hover {
        transition: 0,5s all;
        @include active;
        cursor: pointer;
      }
    }
    &_2 {
      border: 2px solid #f8f8f8;
      border-radius: 8px;
      padding: 4px 8px;
      &:hover {
        transition: 0,5s all;
        @include active;
        cursor: pointer;
      }
    }
  }
  &_down {
    display: block;
    margin: 0 auto;
    margin-top: 120px;
    cursor: pointer;
    
  }
}

.about {
  min-height: 472px;
  padding: 100px 0;
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  .subtitle {
    width: 660px;
    text-align: center;
    margin: 0 auto;
  }
  
  &_main {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    &_item {
      align-items:center;
      width: 250px;

    }
    &_icon {
      display: block;
      margin: 0 auto;
    }
    &_title {
      margin-top: 35px;
      text-align: center;
      color: #212121;
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 1px;
    }
    &_text {
      margin-top: 25px;
      text-align: center;
      color: #212121;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.75px;
    }
  }
 
}
.services {
  height: 1250px;
  background-color:#e4fdf9;
  .title {
    padding-top: 90px;
    text-align: center;
  }
  .subtitle {
    padding-top: 35px;
    width: 620px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 75px;
  }
  &_main {
    display: flex;
    justify-content: space-between;

  }
  &_box {
    width: 300px;
    height: 420px;
    background-color: #ffffff;
    margin-bottom: 50px;
    &_icon {
      display: block;
      margin: 0 auto;
      padding-bottom: 20px;
      padding-top: 70px;
     
    }
    &_title {
      text-align: center;
      color: #212121;
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 1px;

    }
    &_text {
      text-align: center;
      padding: 20px 20px;
      color: #212121;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.75px;
    }
    &_btn{
      margin: 50px auto 0 auto;
      text-align: center; 
      color: #212121;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      width: 160px;
      border: 2px solid #000;
      padding: 2px 4px;
    }
    &:hover {
      cursor: pointer;
      img {
        filter: invert(100%);
      }
      @include active;
      .services_box_title, .services_box_text, .services_box_btn {
        color: white;
      }
      .services_box_btn {
        border: 2px solid #ffffff;
      }
    }
  }
}
.work {
  min-height: 1000px;
  padding: 110px 0;
  .title{
    text-align: center;
  }
  .subtitle {
    padding:35px 0 100px 0;
    width: 600px;
    text-align: center;
    margin: 0 auto;
  }
  &_menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-left: 70px;
  }
  li {
    margin-right: 70px;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px 6px;
    border: 2px solid  #00897b;;
    cursor: pointer;
   
    &:hover {
      @include active;
      color: #fff;
      border: 2px solid #000000;
    }

  }
  &_pic {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
  }
  &_btn {
    margin: 150px auto 0 auto;
    width: 100px;
    text-align: center;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px 6px;
    border: 2px solid  #00897b;;
    cursor: pointer;
    &:hover {
      @include active;
      color: #fff;
      border: 2px solid #000000;
    }

  }
}
.plan {
  height: 1142px;
  background-color: #f8f8f8;
}



@import "media";